<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link th:href="@{/top.css}" rel="stylesheet">
</head>
<body class="body">

<div class="menu">
    <div class="left-content">
        <a class="hanshin" href="/redirect">HANSHIN</a>
    </div>
    <div class="right-content">
        <div class="left-content" th:if="${memberName==null}">
            <form action="/member/join" method="get">
                <button class="join" name="newMember">회원가입</button>
            </form>
            <form action="/login" method="get">
                <button class="login" name="login">로그인</button>
            </form>
        </div>
        <div class="left-content" th:if="${memberName!=null}">
            <h4 class="name" th:text="${memberName}">LoremIpsum</h4>
            <form style="margin: 0" action="/member/info" method="get">
                <button class="myinfo" name="myinfo">내 정보</button>
            </form>
            <form style="margin: 0" action="/logout" method="post">
                <button class="logout" name="logout">로그아웃</button>
            </form>
        </div>
    </div>
</div>

<form method="post">
    <div class="content">
        <div class="title" style="margin-top: 10px">
            <input class="title-input" type="text" name="title" placeholder="제목" required autocomplete="off">
        </div>
        <div class="author" style="justify-content: left">
            <div th:if="${memberName!=null}">
                <input class="author-input"  type="text" name="author" th:value="${memberName}" readonly autocomplete="off">
            </div>
            <div th:if="${memberName==null}">
                <input class="author-input" placeholder="작성자" type="text" name="author" required autocomplete="off">
            </div>
        </div>
        <div style="width: 90%; justify-content: left; margin-bottom: 10px">
            <textarea placeholder="내용" class="content-input" name="content" rows="10" cols="30" required autocomplete="off"></textarea>
        </div>
    </div>
    <div style="margin: 3px 400px 0 50px; display: flex; justify-content: right;">
        <button class="back" name="back" onclick="form.action='/redirect'" formnovalidate>뒤로 가기</button>
        <button class="complete" type="submit" name="submit" onclick="form.action='/post'">작성 완료</button>
    </div>
</form>

<!--<form method="post">
    <div class="container mt-3 d-flex">
        <div class="col-8 align-items-center"><input type="text" class="form-control border-bottom" placeholder="제목" name="title"></div>
        <div class="col-1"></div>
    <div class="col-3 align-items-center" th:if="${memberName!=null}">
        <input class="form-control" type="text" id="author_true" name="author" th:value="${memberName}" readonly>
    </div>
    <div class="col-3 align-items-center" th:if="${memberName==null}">
        <input class="form-control" placeholder="작성자" type="text" id="author_false" name="author" required>
    </div>
    </div><hr><br>
    <div class="mb-3 container align-items-center"><textarea class="form-control" rows="15" placeholder="내용" id="content" name="content"required></textarea></div>
    <div class="container d-flex justify-content-end">
        <button class="btn btn-light" name="back" onclick="form.action='/redirect'" formnovalidate>뒤로 가기</button>
        <button class="btn btn-success" name="submit" onclick="form.action='/post'">작성 완료</button>
    </div>
</form>-->
</body>
</html>