<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form action="/getMemberInfo" method="post">
  <label for="memberName">이름 : </label><br>
  <input type="text" id="memberName" name="memberName" placeholder="이름" required><br><br>

  <label for="memberEmail">이메일 : </label><br>
  <input  type="text" id="memberEmail" name="memberEmail" placeholder="이메일" required><br><br>

  <label for="memberId">ID : </label><br>
  <input type="text" id="memberId" name="memberId" placeholder="ID" required><br><br>

  <label for="memberPassword">비밀번호 : </label><br>
  <input type="password" id="memberPassword" name="memberPassword" placeholder="비밀번호"  required><br><br>

  <input type="submit" name="submit" value="가입하기">
</form>
</body>
</html>