<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
<form action="/login" method="post">
    <label for="memberId">ID : </label><br>
    <input type="text" id="memberId" name="memberId" placeholder="ID" required><br><br>

    <label for="memberPassword">비밀번호 : </label><br>
    <input type="password" id="memberPassword" name="memberPassword" placeholder="비밀번호"  required><br><br>

    <input type="submit" name="submit" value="로그인">
</form>
</body>
</html>