<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link th:href="@{/top.css}" rel="stylesheet">
</head>
<body class="body">
<div class="menu">
    <div class="left-content">
        <a class="hanshin" href="/redirect">HANSHIN</a>
    </div>
    <div class="right-content">
        <div class="left-content" th:if="${memberName==null}">
            <form action="/member/join" method="get">
                <button class="join" name="newMember">회원가입</button>
            </form>
            <form action="/login" method="get">
                <button class="login" name="login">로그인</button>
            </form>
        </div>
        <div class="left-content" th:if="${memberName!=null}">
            <h4 class="name" th:text="${memberName}">LoremIpsum</h4>
            <form style="margin: 0" action="/member/info" method="get">
                <button class="myinfo" name="myinfo">내 정보</button>
            </form>
            <form style="margin: 0" action="/logout" method="post">
                <button class="logout" name="logout">로그아웃</button>
            </form>
        </div>
    </div>
</div>

<div style="margin-top: 3px; margin-left: 150px; margin-right: 150px;">
    <table style="width: 100%">
        <thead style="width: 100%">
            <tr>
                <th style="width: 10%; border-bottom: 1px solid black;">게시글 번호</th>
                <th style="width: 70%; border-bottom: 1px solid black;">제목</th>
                <th style="width: 20%; border-bottom: 1px solid black;">작성자</th>
            </tr>
        </thead>
        <tbody th:each="item : ${list}" style="cursor: pointer; width: 100%">
            <tr th:if="${item.num==null}">
                <th style="width: 10%;"></th>
                <th class="text-center" style="width: 70%;">게시글이 없습니다.</th>
                <th style="width: 20%;"></th>
            </tr>
            <tr th:if="${item.num!=null}" th:onclick="|location.href='@{/post/{postNum}(postNum=${item.num})}'|">
                <th style="width: 10%;" class="text-center" th:text="${item.num}"></th>
                <th style="width: 70%;" th:text="${item.title}"></th>
                <th style="width: 20%;" class="text-center" th:text="${item.author}"></th>
            </tr>
        </tbody>
    </table>
</div>
<div style="margin-top: 3px; margin-right: 150px; display: flex; justify-content: right;">
<form action="/post/new" method="get">
    <button class="complete" name="action">게시글 작성</button>
</form>
</div>
</body>
</html>