<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 확인</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link th:href="@{/top.css}" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="top.css" rel="stylesheet">
</head>
<body class="body">

<div class="menu">
    <div class="left-content">
        <a class="hanshin" href="/redirect">HANSHIN</a>
    </div>
    <div class="right-content">
        <div class="left-content" th:if="${memberName==null}">
            <form action="/member/join" method="get">
                <button class="join" name="newMember">회원가입</button>
            </form>
            <form action="/login" method="get">
                <button class="login" name="login">로그인</button>
            </form>
        </div>
        <div class="left-content" th:if="${memberName!=null}">
            <h4 class="name" th:text="${memberName}">LoremIpsum</h4>
            <form style="margin: 0" action="/member/info" method="get">
                <button class="myinfo" name="myinfo">내 정보</button>
            </form>
            <form style="margin: 0" action="/logout" method="post">
                <button class="logout" name="logout">로그아웃</button>
            </form>
        </div>
    </div>
</div>

<div class="content">
    <div class="title">
        <h4 th:text="${list.title}">Lorem Title</h4>
    </div>
    <div class="author">
        <span th:text="${list.author}">Lorem Author</span>
        <span th:text="${list.date}">Lorem Date</span>
    </div>
    <div style="width: 90%; justify-content: left">
        <h3 th:text="${list.content}">Lorem Content</h3>
    </div>
</div>

<div style="margin: 3px 400px 0 50px; display: flex; justify-content: right;">
    <form action="/redirect" method="post">
        <button class="back" name="go back" onclick="form.action='/redirect'" value="뒤로가기">뒤로 가기</button>
    </form>
    <div class="dc" th:if="${isAuthor==true}">
        <form th:action="@{/post/{postNum}(postNum=${list.num})}" method="post">
            <input type="hidden" name="_method" value="DELETE"/>
            <button type="submit" class="delete" name="delete">게시글 삭제</button>
        </form>
        <form th:action="@{/post/{postNum}/edit(postNum=${list.num})}" method="get">
            <button type="submit" class="complete" name="action">게시글 수정</button>
        </form>
    </div>
</div>
</body>
</html>