.back{
    font-size: 15px;
    color: gray;
    border-color: gray;
    background-color: black;
    border-width: 3px;
    width: 100px;
    transition: background-color 1s, color 1s;
}
.back:hover{
    color: black;
    background-color: gray;
}
.delete{
    font-size: 15px;
    color: indianred;
    border-color: indianred;
    background-color: black;
    border-width: 3px;
    width: 100px;
    transition: background-color 1s, color 1s;
}
.delete:hover{
    color: black;
    background-color: indianred;
}
.complete{
    font-size: 15px;
    color: lightskyblue;
    border-color: lightskyblue;
    background-color: black;
    border-width: 3px;
    width: 100px;
    transition: background-color 1s, color 1s;
}
.complete:hover{
    color: black;
    background-color: lightskyblue;
}
.title{
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: space-between;
}