<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 수정</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link th:href="@{/top.css}" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="top.css" rel="stylesheet">
</head>
<body class="body">

<div class="menu">
    <div class="left-content">
        <a class="hanshin" href="/redirect">HANSHIN</a>
    </div>
    <div class="right-content">
        <div class="left-content" th:if="${memberName==null}">
            <form action="/member/join" method="get">
                <button class="join" name="newMember">회원가입</button>
            </form>
            <form action="/login" method="get">
                <button class="login" name="login">로그인</button>
            </form>
        </div>
        <div class="left-content" th:if="${memberName!=null}">
            <h4 class="name" th:text="${memberName}">LoremIpsum</h4>
            <form style="margin: 0" action="/member/info" method="get">
                <button class="myinfo" name="myinfo">내 정보</button>
            </form>
            <form style="margin: 0" action="/logout" method="post">
                <button class="logout" name="logout">로그아웃</button>
            </form>
        </div>
    </div>
</div>

<form th:action="@{/post/{postNum}(postNum=${post.num})}" method="post">
    <input type="hidden" name="_method" value="PUT">
    <div class="content">
        <div class="title" style="margin-top: 10px">
            <input class="title-input" type="text" name="title" th:value="${post.title}" required autocomplete="off">
        </div>
        <div class="author">
            <input class="author-input"  type="text" name="author" th:value="${post.author}" readonly autocomplete="off">
        </div>
        <div style="width: 90%; justify-content: left; margin-bottom: 10px">
            <textarea class="content-input" name="content" rows="10" cols="30" th:text="${post.content}" required autocomplete="off"></textarea>
        </div>
    </div>
    <div style="margin: 3px 400px 0 50px; display: flex; justify-content: right;">
        <button class="complete" type="submit">수정</button>
    </div>
</form>
</body>
</html>